.dropdown-toggle.li-pad:focus {
  background-color: unset !important;
}

.navbar {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dd-item:hover {
  background: rgba(0, 0, 0, 0) !important;
}

.navbar-collapse {
  max-height: unset !important;
}

.whiten {
  background-color: #fff !important;
}

.whiten .navbar {
  height: 100% !important;
}

.logo-pad {
  padding: 0 !important;
  height: 100% !important;
}

.li-pad {
  padding: 11px 20px 0 !important;
}

.main-colored li {
  align-items: center !important;
}

.main-colored li a {
  color: #2e51a6 !important;
  align-self: center !important;
}

.main-colored li a:hover {
  color: #fd871f !important;
}

.header .nav li.active .nav-item-child {
  color: #fd871f !important;
}

/*------------ lower jummbotron images by 67px and trim from down --------------------*/

#carousel-example-generic {
  top: 67px;
}
#cc-inner > div {
  height: calc(100vh - 67px) !important;
}

/*-----------------*/

h1.carousel-title,
h2.carousel-title {
  font-size: 36px !important;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  -moz-text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  -webkit-text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

h1.carousel-title span {
  font-size: 45px !important;
  color: #fd871f;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.b-fadein {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/1920x1080/01.jpg) !important;
}

.b-fadein2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/1920x1080/02.jpg) !important;
}

.b-fadein3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/1920x1080/03.jpg) !important;
}

/*-------------------*/
.carousel-centered {
  max-width: 520px !important;
}

.margin-b-40 h1,
.margin-b-40 h1 span,
.margin-b-40 h2 {
  font-weight: 900 !important;
}

p.color-white {
  font-size: 17px !important;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  -moz-text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  -webkit-text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.more-det {
  border-radius: 5px;
}

.more-det:hover,
.more-det:active,
.more-det:focus {
  color: white;
  background-color: #fd871f;
  border-color: #fd871f;
}

.nvbt {
  margin: 27px 0 14px !important;
}

.caret {
  color: #2e51a6;
}

/*--------------------------*/
@media (min-width: 1200px) {
  .navbar > .container {
    width: 1170px !important;
  }
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu.nav.navbar-nav {
    padding: 0 !important;
    border: none !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175) !important;
  }

  .dropdown-menu.nav.navbar-nav li {
    border-bottom: 1px solid #00000017;
  }

  .dropdown-menu.nav.navbar-nav li a {
    font-weight: 600;
    font-size: 15px;
  }

  .dd-item {
    width: 100% !important;
  }

  .dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
  }

  .dropdown-menu li {
    width: 100% !important;
  }

  .main-colored li {
    display: flex !important;
  }

  .navbar > .container {
    width: 970px;
  }

  .js_nav-item.nav-item:last-child a {
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .main-colored li {
    background-color: white;
  }

  .js_nav-item.nav-item.dropdown.open {
    height: unset !important;
    border: none !important;
  }

  .js_nav-item.nav-item {
    border-bottom: 1px solid #00000017;
  }

  .js_nav-item.nav-item:last-child {
    border-bottom: none !important;
  }

  .dropdown-menu.nav.navbar-nav {
    position: static !important;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .dropdown-menu.nav.navbar-nav li {
    width: 80%;
    margin: 0 10%;
    border-bottom: 1px solid #00000017;
  }
  .dropdown-menu.nav.navbar-nav li:first-child {
    border-top: 1px solid #00000017 !important;
  }

  .dropdown-menu.nav.navbar-nav li a {
    font-size: 14px;
    font-weight: 500;
  }

  .li-pad {
    font-size: 14px !important;
    padding: 12px !important;
    text-align: center;
  }

  .more-det {
    color: white;
    background-color: #fd871f;
    border-color: #fd871f;
  }

  .more-det:hover,
  .more-det:active,
  .more-det:focus {
    color: #fff;
    background: 0 0;
    border-color: #fff;
  }
}

@media (max-width: 768px) {
  .navbar-collapse > .menu-container {
    padding: 0;
  }

  .navbar-collapse.nav-collapse.collapse.in {
    width: calc(100% + 1px);
  }

  .collapsing {
    width: calc(100% + 1px) !important;
  }

  .navbar-collapse {
    border: none !important;
  }
}

@media (max-width: 767px) {
  .dropdown-menu.nav.navbar-nav li a {
    padding: 10px 15px;
  }
}

#main-section {
  position: relative;
  top: 67px;
}

@media (max-width: 768px) {
  h1.carousel-title,
  h2.carousel-title {
    font-size: 30px !important;
  }

  h1.carousel-title span {
    font-size: 38px !important;
  }

  .carousel-centered {
    max-width: 440px !important;
    top: 45% !important;
  }

  .carousel-centered p {
    font-size: 15px !important;
  }

  .carousel-centered a {
    font-size: 12px !important;
    padding: 13px 30px;
  }

  .carousel-centered div.margin-b-40 {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 480px) {
  h1.carousel-title,
  h2.carousel-title {
    font-size: 21px !important;
  }

  h1.carousel-title span {
    font-size: 30px !important;
  }

  .carousel-centered {
    max-width: 350px !important;
    top: 40% !important;
  }

  .carousel-centered p {
    font-size: 15px !important;
  }

  .carousel-centered a {
    font-size: 12px !important;
    padding: 13px 30px;
  }

  .carousel-centered div.margin-b-40 {
    margin-bottom: 20px !important;
  }
}
